:root {
  font-family: "Raleway", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 400;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
  height: auto;
}
